:host {
    display: block;
    background-color: #fff;
    width: 1010px;
    height:575px;
    margin: 0 auto;
    box-shadow: 3px 3px 11px 0 rgba(0,0,0,.4);
    overflow-x:hidden;
    overflow-y:auto;
}

a {
    display: block;
    margin:0px 0px 0px 20px;
}

h1 {
    font-weight:100;
    margin: 0px 0px 0px 20px;
    line-height:2.5em;
}

.tile-catalog-items {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
    margin: 20px;
}

div.actions {
    width: 100%;
    text-align: center;
}

button:nth-last-of-type(1) {
    display: inline-block;
    position: relative;
}
