:host {
    display:grid;
    grid-template-columns: 1fr 300px;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
}

ce-add-dashboard-tile-modal {
    grid-column: 1;
}

ce-configure-dashboard-tile {
    grid-column:2;
}