:host {
    display: block;
    width: 300px;
    height: 100vh;
    position: relative;
    background-color: #fff;
}

h1 {
    margin: 20px 0px 0px 20px;
}

div.actions {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

button:nth-last-of-type(1) {
    display: inline-block;
    position: relative;
}

button:nth-last-of-type(2) {
    display: inline-block;
    position: relative;
}

form {
    margin: 20px 20px 0px 20px;
}

input[type="text"] {
    width:calc(100% - 61px);
}