:host {
    display: block;
    content: contain;
}

ul, li, a {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0px 0px 0px 5px;
}

li {
    display: block;
    list-style: none;
}

a {
    font-size: 0.85em;
    cursor: pointer;
    margin: 0px 0px 5px 0px;
}
