:host {
    display: inline-block;
    width: 15px;
    height: 19px;
    background: var(--background-color,rgb(61,61,61));
    padding: 2px 0px 0px 5px;
    cursor: pointer;
}

:host > div {
    width: 15px;
    height: 1.5px;
    background: var(--main-color,#fff);
    margin: 3.5px 0;
    border-radius: 1px;
}
