:host {
    grid-column: var(--grid-column-start,1) / var(--grid-column-stop,1);
    grid-row: var(--grid-row-start,1) / var(--grid-row-stop,1);
    background-color: rgb(241,241,241);
    box-shadow: 5px 3px 11px rgba(0,0,0,0.2);
    overflow: hidden;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 21px 1fr;
}

h1 {
    font-size: 1em;
    font-weight: 100;
    margin: 20px auto;
    padding: 0;
    display: inline-block;
    grid-row: 2
}

ce-dots-button {
    width: 30px;    
    grid-row: 1;
}
