:host {
    display:block;
    user-select:none;
    background-color:#fff;
}

p {
    text-align:center;
}

h2 {
    text-align:center;
    font-size: var(--font-size,4em);
    line-height:1em;
    margin:0;
    padding:0;
}

.update-needed-message {
    display:none;
    text-align:center;
}

:host(.no-athlete-weight-info) .update-needed-message {
    display: block;
}

:host(.no-athlete-weight-info) .weight-info {
    display: none;
}