:host {
    display:block;
    user-select:none;
    background-color:#fff;
}

p {
    text-align:center;
}

.info-value {
    display:block;
    color:#333;
    font-weight:400;
    text-align:left;
    font-size: var(--font-size,3em);
    line-height:2em;
    margin:0;
    padding:0;
    margin:0px 0px 0px 20px;
}

.update-needed-message {
    display:none;
    text-align:center;
}

:host(.no-data) .update-needed-message {
    display: block;
}

:host(.no-data) .weight-info {
    display: none;
}

.info-description {
    display: block;
    font-size: 1em;
    line-height: 1em;
    margin: 0px 0px 0px 20px;
}

h3 {
    line-height:1.5em;
    font-size:1.5em;
    margin:20px 0px 0px 20px;
    padding:0px 0px 0px 0px;
}