@use '../../../../../../styles/design-tokens' as tokens;

.dashboard-tile {
  height: 200px;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-button {
    margin-left: auto;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__placeholder {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.4);

    mat-icon {
      font-size: 48px;
      width: 48px;
      height: 48px;
    }

    p {
      margin-top: tokens.$spacing-sm;
    }
  }
}
