<h1>BodyPart List</h1>
<label>Filter</label>
<input type="text" placeholder="Filter" (keyup)="filterKeyUp.emit({ detail: { value: $event.target.value } })" />
<div>
    <h2>Name</h2>
    <h2>Actions</h2>
</div>
<ce-body-part-list-item *ngFor="let bodyPart of pagedList.data"
                      [bodyPart]="bodyPart"
                      (edit)="edit.emit($event)"
                      (delete)="delete.emit($event)">
</ce-body-part-list-item>
<ce-pager [pageNumber]="pageNumber" 
          [totalPages]="pagedList.totalPages" 
          (next)="setPageNumber($event)" 
          (previous)="setPageNumber($event)">
</ce-pager>
