@use '../../../../../../styles/design-tokens' as tokens;

.weekly-planner-day {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    background-color: rgba(0, 0, 0, 0.02);
  }

  &__content {
    flex: 1;
    min-height: 150px;
  }

  &__list {
    padding: 0;
  }

  &__exercise {
    &--completed {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }

  &__empty {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    padding: tokens.$spacing-lg;
  }

  &__actions {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
}
